<div class="third_demo">
  {% set greeting = 'Anjali' %}
  {% set title = 23 %}
    {{ (greeting ~ title)|lower }}
    {{ "ab" in "abcde" }}
    {% if 1 not in [2, 3] %}
      {{ 1 }}
    {% endif %}
    {{ title is even }}
    {{ "Hello " ~greeting~ "!" }}
{{ foo ?? 'no' }}
{% spaceless %}
    <div>
        <strong>foo bar</strong>
    </div>
{% endspaceless %}
{{ lipsum(40) }}
</div>
